.grid__row
  .grid__column
    section.docs#getting-started
      h1.typo__h1 Getting started
      hr.typo__hr

      .grid__row
        .grid__column
          h2.typo__h2 Installation
          pre.language-bash
            code.
              npm install {{ name }} --save

        .grid__column
          h2.typo__h2 Basic usage
          pre.language-jade
            code.
              multiselect(
                v-model="selected",
                :options="options"
              )
          pre.language-javascript
            code.
              import {{ name }} from '{{ name }}'
              export default {
                components: { {{ name }} }
              }

      .grid__row
        .grid__column
          h2.typo__h2 Package content

        .grid__column.grid__unit--md-5
          p.typo__p
            | {{ description }}
